<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Title -->
    <title>Packet Subscription | Vodi - Online Movie Website</title>

    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" th:href="@{/assets/favicon.ico}"/>

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="../../assets/vendor/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="../../assets/vendor/hs-mega-menu/dist/hs-mega-menu.min.css">
    <link rel="stylesheet" href="../../assets/vendor/dzsparallaxer/dzsparallaxer.css">
    <link rel="stylesheet" href="../../assets/vendor/cubeportfolio/css/cubeportfolio.min.css">
    <link rel="stylesheet" href="../../assets/vendor/aos/dist/aos.css">
    <link rel="stylesheet" href="../../assets/vendor/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="../../assets/vendor/fancybox/dist/jquery.fancybox.css">

    <!-- CSS Vodi Template -->
    <link rel="stylesheet" href="../../assets/css/theme.css">
</head>
<body>
    <!-- ========== HEADER ========== -->
    <header th:replace="~{/html/fragments/header.html :: head}"></header>
    <!-- ========== END HEADER ========== -->

    <!-- ========== MAIN CONTENT ========== -->
    <main id="content" class="bg-gray-1100">
        <div class="bg-gray-1100 pt-5 pb-7">
            <div class="container px-md-5 mb-1">
                <div class="container px-md-5 mb-1">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb dark font-size-1">
                            <li class="breadcrumb-item"><a href="../home/index.html" class="text-gray-1300">Home</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">Packet Subscription</li>
                        </ol>
                    </nav>
                </div>
                <!--Hero Slider -->
                <div class=" mb-6 pb-xl-1">
                    <div class="js-slick-carousel"
                        data-hs-slick-carousel-options='{
                        "dots": true,
                        "dotsClass": "slick-pagination slick-pagination-v2 mt-2"
                        }'>
                        <div>
                            <div class="bg-img-hero" style="background-image: url(https://demo2.madrasthemes.com/vodi-html/assets/img/1130x320/img1.jpg); height: 320px;">
                                <div class="container space-top-2 px-md-7">
                                    <div class="pt-2">
                                        <div class="display-13 font-weight-semi-bold mb-1 pb-1">
                                            <a href="" class="text-red-3">Mobie Packet</a>
                                        </div>
                                        <div class="mb-3">
                                            <ul class="list-unstyled nav nav-meta flex-nowrap flex-md-wrap overflow-auto overflow-md-hidden justify-content-start">
                                                <li class="font-size-16 flex-shrink-0 flex-shrink-md-1">Good video quality, 480p resolution, viewable on phones and tablets</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="bg-img-hero" style="background-image: url(https://demo2.madrasthemes.com/vodi-html/assets/img/1130x320/img2.jpg); height: 320px;">
                                <div class="container space-top-2 px-md-7">
                                    <div class="pt-2">
                                        <div class="display-13 font-weight-semi-bold mb-1 pb-1">
                                            <a href="" class="text-red-3">Basic Packet</a>
                                        </div>
                                        <div class="mb-3">
                                            <ul class="list-unstyled nav nav-meta flex-nowrap flex-md-wrap overflow-auto overflow-md-hidden justify-content-start">
                                                <li class="font-size-16 flex-shrink-0 flex-shrink-md-1">Good video quality, 480p resolution, viewable on phones, tablets, computer, TV</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="bg-img-hero" style="background-image: url(https://demo2.madrasthemes.com/vodi-html/assets/img/1130x320/img3.jpg); height: 320px;">
                                <div class="container space-top-2 px-md-7">
                                    <div class="pt-2">
                                        <div class="display-13 font-weight-semi-bold mb-1 pb-1">
                                            <a href="" class="text-red-3">Standard Packet</a>
                                        </div>
                                        <div class="mb-3">
                                            <ul class="list-unstyled nav nav-meta flex-nowrap flex-md-wrap overflow-auto overflow-md-hidden justify-content-start">
                                                <li class="font-size-16 flex-shrink-0 flex-shrink-md-1">Better video quality, 1080p resolution, viewable on phones, tablets, computer, TV</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="bg-img-hero" style="background-image: url(https://demo2.madrasthemes.com/vodi-html/assets/img/1130x320/img4.jpg); height: 320px;">
                                <div class="container space-top-2 px-md-7">
                                    <div class="pt-2">
                                        <div class="display-13 font-weight-semi-bold mb-1 pb-1">
                                            <a href="" class="text-red-3">Premium Packet</a>
                                        </div>
                                        <div class="mb-3">
                                            <ul class="list-unstyled nav nav-meta flex-nowrap flex-md-wrap overflow-auto overflow-md-hidden justify-content-start">
                                                <li class="font-size-16 flex-shrink-0 flex-shrink-md-1">Better video quality, 4K+HDR resolution, viewable on phones, tablets, computer, TV</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Hero Slider -->

                <!--Choose Packet -->
                <div>
                    <div class="font-size-24 font-weight-medium font-secondary text-white mb-4">Choose the plan that's right for you</div>
                    <div class="section-hot-premier-show">
                        <div class="row mx-n2">
                            <div class="col-md-6 col-lg-3 px-2">
                                <div class="position-relative dark mb-4 mb-lg-0">
                                    <div class="movie_poster">
                                        <div>
                                            <img class="img-fluid" src="https://static2.vieon.vn/vieon-images/2022-payment-image/04/29/VIPver2.png" alt="Image-Description">
                                        </div>
                                    </div>
                                    <div class="position-absolute bottom-0">
                                        <div class="px-3 pb-3">
                                            <h6 class="text-center product-title font-size-3 mb-2 text-white">Mobile</h6>
                                            <h6 class="text-center price font-size-3 mb-2 text-primary">69.000đ</h6>
                                            <p class="text-white text-center font-size-1 max-h-42rem overflow-hidden">Good video quality, 480p resolution, viewable on phones and tablets</p>
                                            <div class="pb-1">
                                                <button class="btn btn-outline-white py-3 w-100 btn-sm" tabindex="0">CHOOSE THIS PACKET</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3 px-2">
                                <div class="position-relative dark mb-4 mb-lg-0">
                                    <div class="movie_poster">
                                        <div>
                                            <img class="img-fluid" src="https://static2.vieon.vn/vieon-images/2022-payment-image/04/29/web/vip-hbo.png" alt="Image-Description">
                                        </div>
                                    </div>
                                    <div class="position-absolute bottom-0">
                                        <div class="px-3 pb-3">
                                            <h6 class="text-center product-title font-size-3 mb-2 text-white">Basic</h6>
                                            <h6 class="text-center price font-size-3 mb-2 text-primary">99.000đ</h6>
                                            <p class="text-white text-center font-size-1 max-h-42rem overflow-hidden">Good video quality, 480p resolution, viewable on phones, tablets, computer, TV</p>
                                            <div class="pb-1">
                                                <button class="btn btn-outline-white py-3 w-100 btn-sm" tabindex="0">CHOOSE THIS PACKET</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3 px-2">
                                <div class="position-relative dark mb-4 mb-lg-0">
                                    <div class="movie_poster">
                                        <div>
                                            <img class="img-fluid" src="https://static2.vieon.vn/vieon-images/2022-payment-image/04/29/web/vip-kplus.png" alt="Image-Description">
                                        </div>
                                    </div>
                                    <div class="position-absolute bottom-0">
                                        <div class="px-3 pb-3">
                                            <h6 class="text-center product-title font-size-3 mb-2 text-white">Standard</h6>
                                            <h6 class="text-center price font-size-3 mb-2 text-primary">149.000đ</h6>
                                            <p class="text-white text-center font-size-1 max-h-42rem overflow-hidden">Better video quality, 1080p resolution, viewable on phones, tablets, computer, TV</p>
                                            <div class="pb-1">
                                                <button class="btn btn-outline-white py-3 w-100 btn-sm" tabindex="0">CHOOSE THIS PACKET</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3 px-2">
                                <div class="position-relative dark mb-4 mb-lg-0">
                                    <div class="movie_poster">
                                        <div>
                                            <img class="img-fluid" src="https://static2.vieon.vn/vieon-images/2022-payment-image/04/29/web/all-access.png" alt="Image-Description">
                                        </div>
                                    </div>
                                    <div class="position-absolute bottom-0">
                                        <div class="px-3 pb-3">
                                            <h6 class="text-center product-title font-size-3 mb-2 text-white">Premium</h6>
                                            <h6 class="text-center price font-size-3 mb-2 text-primary">199.000đ</h6>
                                            <p class="text-white text-center font-size-1 max-h-42rem overflow-hidden">Better video quality, 4K+HDR resolution, viewable on phones, tablets, computer, TV</p>
                                            <div class="pb-1">
                                                <button class="btn btn-outline-white py-3 w-100 btn-sm" tabindex="0">CHOOSE THIS PACKET</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End - Choose Packet -->

                <!--Selected packet -->
                <div style="margin: 50px 0px 0px 0px;">
                    <div class="font-size-24 font-weight-medium font-secondary text-white mb-4">Selected packet</div>
                    <div class="mb-6 pb-xl-1">
                        <div class=" ">
                            <div class="mb-3">
                                <div class="border rounded-3 px-3 py-1 mb-3">
                                    <div class="d-flex">
                                        <div class="pt-5 pb-4">
                                            <div class="d-inline-block mb-1 border-right pr-3">
                                                <div class="font-size-20 font-weight-medium font-secondary text-gray-2900">Mobile</div>
                                                <div class="mt-n2">
                                                    <span class="font-secondary text-gray-2900 mx-2 font-weight-normal font-size-11">69.000đ</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="pt-3 pl-3">
                                            <div class="font-size-16 font-weight-bold text-lh-1dot25 mb-1 text-gray-1300">Description</div>
                                            <div class="text-gray-1300 mb-1">
                                                <div class="font-size-12 font-weight-normal">
                                                    <a class="text-gray-1300">Good video quality, 480p resolution, viewable on phones and tablets</a>
                                                </div>
                                            </div>
                                            <div class="js-countdown"
                                                    data-hs-countdown-options='{
                                                     "endDate": "2020/12/19"
                                                   }'>
                                                   <span class="font-size-12 text-gray-1300">Time left</span>
                                                  <span class="font-size-12 text-gray-1300">30 days</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End - Selected packet -->

                <!--Choose method payment and term -->
                <div class="space-bottom-1 space-bottom-lg-2">
                    <div class="row">
                        <!-- Left Filter -->
                        <div class="col-lg-6">
                            <!--Choose Payment -->
                            <div>
                                <div class="font-size-24 font-weight-medium font-secondary text-white mb-4">Choose packet term</div>
                                <div class="section-hot-premier-show">
                                    <div class="row mx-n2">
                                        <div class="mb-3">
                                            <form action="">
                                                <!-- Radio - Momo -->
                                                <input type="radio" name="month" id = "4" class="hidebx" value="1 month">
                                                <label for="4" class="lbl-radio rounded-3 px-3 py-1">
                                                    <div class="">
                                                        <div class="d-flex">
                                                            <div class="pt-5 pb-4">
                                                                <div class="d-inline-block mb-1 border-right pr-3">
                                                                    <div class="font-size-20 font-weight-medium font-secondary text-white">1 MONTH</div>
                                                                </div>
                                                            </div>
                                                            <div class="pt-2 pl-3" style="padding: 0px 100px;">
                                                                <div class="text-gray-1300 mb-1">
                                                                    <div class="font-size-12 font-weight-normal">
                                                                        <a class="text-white">Buy at a great price</a>
                                                                    </div>
                                                                </div>
                                                                <div class="font-size-16 font-weight-bold text-lh-1dot25 mb-1 text-white">69.000đ</div>
                                                                <div class="js-countdown">
                                                                    <span class="font-size-12 text-white">Auto-renew</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </label>
                                                <!-- Radio - Moca -->
                                                <input type="radio" name="month" id = "5" class="hidebx" value="1 month">
                                                <label for="5" class="lbl-radio rounded-3 px-3 py-1 mb-3">
                                                    <div class="">
                                                        <div class="d-flex">
                                                            <div class="pt-5 pb-4">
                                                                <div class="d-inline-block mb-1 border-right pr-3">
                                                                    <div class="font-size-20 font-weight-medium font-secondary text-white">3 MONTH</div>
                                                                </div>
                                                            </div>
                                                            <div class="pt-2 pl-3" style="padding: 0px 100px;">
                                                                <div class="text-gray-1300 mb-1">
                                                                    <div class="font-size-12 font-weight-normal">
                                                                        <a class="text-white">Buy at a great price</a>
                                                                    </div>
                                                                </div>
                                                                <div class="font-size-16 font-weight-bold text-lh-1dot25 mb-1 text-white">199.000đ</div>
                                                                <div class="js-countdown">
                                                                    <span class="font-size-12 text-white">Auto-renew</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </label>
                                                <!-- Radio - VNPay -->
                                                <input type="radio" name="month" id = "6" class="hidebx" value="1 month">
                                                <label for="6" class="lbl-radio rounded-3 px-3 py-1 mb-3">
                                                    <div class="">
                                                        <div class="d-flex">
                                                            <div class="pt-5 pb-4">
                                                                <div class="d-inline-block mb-1 border-right pr-3">
                                                                    <div class="font-size-20 font-weight-medium font-secondary text-white">12 MONTH</div>
                                                                </div>
                                                            </div>
                                                            <div class="pt-2 pl-3" style="padding: 0px 100px;">
                                                                <div class="text-gray-1300 mb-1">
                                                                    <div class="font-size-12 font-weight-normal">
                                                                        <a class="text-white">Buy at a great price</a>
                                                                    </div>
                                                                </div>
                                                                <div class="font-size-16 font-weight-bold text-lh-1dot25 mb-1 text-white">679.000đ</div>
                                                                <div class="js-countdown">
                                                                    <span class="font-size-12 text-white">Auto-renew</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </label>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End - Choose Payment -->
                        </div>
                         <!-- End - Left Filter -->
    
                        <!-- Right Filter -->
                        <div class="col-lg-6">
                            <!--Choose Payment -->
                            <div>
                                <div class="font-size-24 font-weight-medium font-secondary text-white mb-4">Choose payment method</div>
                                <div class="section-hot-premier-show">
                                    <div class="row mx-n2">
                                        <div class="mb-3">
                                            <form action="">
                                                <!-- Radio - Momo -->
                                                <input type="radio" name="payment" id = "1" class="hidebx" value="momo">
                                                <label for="1" class="lbl-radio rounded-3 px-3 py-1">
                                                    <div class="">
                                                        <div class="d-flex">
                                                            <div class="pt-5 pb-4">
                                                                <div class="d-inline-block mb-1 border-right pr-3">
                                                                    <div class="font-size-20 font-weight-medium font-secondary text-white">MOMO</div>
                                                                </div>
                                                            </div>
                                                            <div class="pt-2 pl-3" style="padding: 0px 100px;">
                                                                <div class="text-gray-1300 mb-1">
                                                                    <div class="font-size-12 font-weight-normal">
                                                                        <a class="text-white">Mobile money</a>
                                                                    </div>
                                                                </div>
                                                                <div class="font-size-16 font-weight-bold text-lh-1dot25 mb-1 text-white">20% Discount at checkout</div>
                                                                <div class="js-countdown">
                                                                    <span class="font-size-12 text-white">Payment support</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </label>
                                                <!-- Radio - Moca -->
                                                <input type="radio" name="payment" id = "2" class="hidebx" value="zalop">
                                                <label for="2" class="lbl-radio rounded-3 px-3 py-1 mb-3">
                                                    <div class="">
                                                        <div class="d-flex">
                                                            <div class="pt-5 pb-4">
                                                                <div class="d-inline-block mb-1 border-right pr-3">
                                                                    <div class="font-size-20 font-weight-medium font-secondary text-white">ZALOP</div>
                                                                </div>
                                                            </div>
                                                            <div class="pt-2 pl-3" style="padding: 0px 100px;">
                                                                <div class="text-gray-1300 mb-1">
                                                                    <div class="font-size-12 font-weight-normal">
                                                                        <a  class="text-white">Mobile money</a>
                                                                    </div>
                                                                </div>
                                                                <div class="font-size-16 font-weight-bold text-lh-1dot25 mb-1 text-white">10% Discount at checkout</div>
                                                                <div class="js-countdown">
                                                                    <span class="font-size-12 text-white">Payment support</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </label>
                                                <!-- Radio - VNPay -->
                                                <input type="radio" name="payment" id = "3" class="hidebx" value="vnpay">
                                                <label for="3" class="lbl-radio rounded-3 px-3 py-1 mb-3">
                                                    <div class="">
                                                        <div class="d-flex">
                                                            <div class="pt-5 pb-4">
                                                                <div class="d-inline-block mb-1 border-right pr-3">
                                                                    <div class="font-size-20 font-weight-medium font-secondary text-white">VNPAY</div>
                                                                </div>
                                                            </div>
                                                            <div class="pt-2 pl-3" style="padding: 0px 100px;">
                                                                <div class="text-gray-1300 mb-1">
                                                                    <div class="font-size-12 font-weight-normal">
                                                                        <a class="text-white">Mobile money</a>
                                                                    </div>
                                                                </div>
                                                                <div class="font-size-16 font-weight-bold text-lh-1dot25 mb-1 text-white">50% Discount at checkout</div>
                                                                <div class="js-countdown">
                                                                    <span class="font-size-12 text-white">Payment support</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </label>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End - Choose Payment -->
                        </div>
                        <!-- End - Right Filter -->

                        

                    </div>
                </div>

                <!--Details -->
                <div style="margin: -40px 0px 0px 0px;">
                    <div class="font-size-24 font-weight-medium font-secondary text-white mb-4">Details</div>
                    <div class="mb-2 pb-xl-1">
                        <div class=" ">
                            <div class="mb-3">
                                <div class="border rounded-3 px-3 py-1 mb-3">
                                    <div class="d-flex">
                                        <div class="pt-5 pb-4">
                                            <div class="d-inline-block mb-1 border-right pr-3">
                                                <div class="font-size-20 font-weight-medium font-secondary text-gray-2900">Mobile</div>
                                                <div class="mt-n2">
                                                    <span class="font-secondary text-gray-2900 mx-2 font-weight-normal font-size-11">69.000đ</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="pt-3 pl-3">
                                            <div class="font-size-16 font-weight-bold text-lh-1dot25 mb-1 text-gray-1300 mr">Vodi Account</div>
                                            <div class="js-countdown">
                                                   <span class="font-size-12 text-gray-1300">Payment method:</span>
                                                  <span class="font-size-12 text-gray-1300">Momo</span>
                                            </div>
                                            <div class="text-gray-1300 mb-1">
                                                <div class="js-countdown">
                                                    <span class="font-size-12 text-gray-1300">Effective date:</span>
                                                    <span class="font-size-12 text-gray-1300">19/05/2022</span>
                                                    <span class="font-size-12 text-gray-1300">- Expiration date:</span>
                                                    <span class="font-size-12 text-gray-1300">20/05/2022</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End - Details -->

                <div>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">
                       Packet Subscription
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Messages</h5>
                                    <button type="button" class="btn btn-xs btn-icon btn-soft-secondary" data-dismiss="modal" aria-label="Close">
                                        <svg aria-hidden="true" width="10" height="10" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                                        <path fill="currentColor" d="M11.5,9.5l5-5c0.2-0.2,0.2-0.6-0.1-0.9l-1-1c-0.3-0.3-0.7-0.3-0.9-0.1l-5,5l-5-5C4.3,2.3,3.9,2.4,3.6,2.6l-1,1 C2.4,3.9,2.3,4.3,2.5,4.5l5,5l-5,5c-0.2,0.2-0.2,0.6,0.1,0.9l1,1c0.3,0.3,0.7,0.3,0.9,0.1l5-5l5,5c0.2,0.2,0.6,0.2,0.9-0.1l1-1 c0.3-0.3,0.3-0.7,0.1-0.9L11.5,9.5z"/>
                                        </svg>
                                    </button>
                                </div>
                                <div class="modal-body">Success package subscription </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </main>
    <!-- ========== END MAIN CONTENT ========== -->

    <!-- ========== FOOTER ========== -->
    <footer th:replace="~{/html/fragments/footer.html :: footer}"></footer>
    <!-- ========== END FOOTER ========== -->

    <!-- ========== SECONDARY CONTENTS ========== -->
    <div th:replace="~{/html/fragments/secondary_contents}"></div>
    <!-- ========== END SECONDARY CONTENTS ========== -->

    <!-- Go to Top -->
    <a class="js-go-to go-to position-fixed" href="javascript:;" style="visibility: hidden;"
        data-hs-go-to-options='{
            "offsetTop": 700,
            "position": {
                "init": {
                    "right": 15
                },
                "show": {
                    "bottom": 15
                },
                "hide": {
                    "bottom": -15
                }
            }
        }'>
        <i class="fas fa-angle-up"></i>
    </a>
    <!-- End Go to Top -->

    <!-- JS Global Compulsory -->
    <script src="../../assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="../../assets/vendor/jquery-migrate/dist/jquery-migrate.min.js"></script>
    <script src="../../assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- JS Implementing Plugins -->
    <script src="../../assets/vendor/hs-header/dist/hs-header.min.js"></script>
    <script src="../../assets/vendor/hs-go-to/dist/hs-go-to.min.js"></script>
    <script src="../../assets/vendor/hs-unfold/dist/hs-unfold.min.js"></script>
    <script src="../../assets/vendor/hs-mega-menu/dist/hs-mega-menu.min.js"></script>
    <script src="../../assets/vendor/hs-show-animation/dist/hs-show-animation.min.js"></script>
    <script src="../../assets/vendor/hs-sticky-block/dist/hs-sticky-block.min.js"></script>
    <script src="../../assets/vendor/hs-counter/dist/hs-counter.min.js"></script>
    <script src="../../assets/vendor/hs-video-player/dist/hs-video-player.min.js"></script>
    <script src="../../assets/vendor/appear.js"></script>
    <script src="../../assets/vendor/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
    <script src="../../assets/vendor/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="../../assets/vendor/dzsparallaxer/dzsparallaxer.js"></script>
    <script src="../../assets/vendor/aos/dist/aos.js"></script>
    <script src="../../assets/vendor/slick-carousel/slick/slick.js"></script>
    <script src="../../assets/vendor/fancybox/dist/jquery.fancybox.min.js"></script>

    <!-- JS Vodi -->
    <script src="../../assets/js/hs.core.js"></script>
    <script src="../../assets/js/hs.validation.js"></script>
    <script src="../../assets/js/hs.cubeportfolio.js"></script>
    <script src="../../assets/js/hs.slick-carousel.js"></script>
    <script src="../../assets/js/hs.fancybox.js"></script>

    <!-- JS Plugins Init. -->
    <script>
        $(document).on('ready', function () {
            // initialization of header
            var header = new HSHeader($('#header')).init();

            // initialization of mega menu
            var megaMenu = new HSMegaMenu($('.js-mega-menu'), {
                desktop: {
                    position: 'left'
                }
            }).init();

            // initialization of fancybox
            $('.js-fancybox').each(function () {
              var fancybox = $.HSCore.components.HSFancyBox.init($(this));
            });

            // initialization of unfold
            var unfold = new HSUnfold('.js-hs-unfold-invoker').init();

            // initialization of slick carousel
            $('.js-slick-carousel').each(function() {
                var slickCarousel = $.HSCore.components.HSSlickCarousel.init($(this));
            });

            // initialization of form validation
            $('.js-validate').each(function() {
                $.HSCore.components.HSValidation.init($(this), {
                    rules: {
                        confirmPassword: {
                            equalTo: '#signupPassword'
                        }
                    }
                });
            });

            // initialization of show animations
            $('.js-animation-link').each(function () {
                var showAnimation = new HSShowAnimation($(this)).init();
            });

            // initialization of counter
            $('.js-counter').each(function() {
                var counter = new HSCounter($(this)).init();
            });

            // initialization of sticky block
            var cbpStickyFilter = new HSStickyBlock($('#cbpStickyFilter'));

            // initialization of cubeportfolio
            $('.cbp').each(function () {
                var cbp = $.HSCore.components.HSCubeportfolio.init($(this), {
                    layoutMode: 'grid',
                    filters: '#filterControls',
                    displayTypeSpeed: 0
                });
            });

            $('.cbp').on('initComplete.cbp', function() {
                // update sticky block
                cbpStickyFilter.update();

                // initialization of aos
                AOS.init({
                    duration: 650,
                    once: true
                });
            });

            $('.cbp').on('filterComplete.cbp', function() {
                // update sticky block
                cbpStickyFilter.update();

                // initialization of aos
                AOS.init({
                    duration: 650,
                    once: true
                });
            });

            $('.cbp').on('pluginResize.cbp', function() {
                // update sticky block
                cbpStickyFilter.update();
            });

            // animated scroll to cbp container
            $('#cbpStickyFilter').on('click', '.cbp-filter-item', function (e) {
                $('html, body').stop().animate({
                    scrollTop: $('#demoExamplesSection').offset().top
                }, 200);
            });

            // initialization of go to
            $('.js-go-to').each(function () {
                var goTo = new HSGoTo($(this)).init();
            });
        });
    </script>
        <!-- IE Support -->
    <script>
        if (/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) document.write('<script src="../../assets/vendor/polifills.js"><\/script>');
    </script>
</body>
</html>
